<a href="https://colab.research.google.com/github/lucianoselimaj/MLDL_Labs/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series
it is a one dimensional array composed by a sequence of homogeneous elements. It has an index associated with each element

In [2]:
import pandas as pd

In [5]:
#creating a Series using a list or an Array
s = pd.Series([1,2,3,4]) # indexes are utomatically assigned
s = pd.Series([1,2,3,4], index=['a','b','c','d'])

print(s)

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
#Values and indexes
print(s.index)
print()
print(s.values)

Index(['a', 'b', 'c', 'd'], dtype='object')

[1 2 3 4]

**Accessing Series Elements: **

*   Explicitly --> using .loc['index_value']
*   Implicitly --> using .iloc[0] (index number like arrays)

In [8]:
s = pd.Series([10,20,30,40], index=['a','b','c','d'])

#EXPLIT index
print(s.loc['a'])

#IMPLICIT
print(s.iloc[0])

10
10

SLICING:

* Explicitly --> using .loc['start_value_indx':'stop_value_ind'], both are included
* Implicitly --> using .iloc[0:n] (index number like arrays), but only start is included

In [10]:
s = pd.Series([10,20,30,40], index=['a','b','c','d'])

print(s['a':'c'])

print(s[0:2])

a    10
b    20
c    30
dtype: int64
a    10
b    20
dtype: int64

In [11]:
#MASKING
s = pd.Series([10,20,30,40], index=['a','b','c','d'])

mask = s > 20
print(s[mask])

c    30
d    40
dtype: int64

**FANCY INDEXING:** <br>
allows us to select multiple elements from a series, we can use both .loc[] and .iloc[]

In [13]:
#FANCY INDEXING
s = pd.Series([10,20,30,40], index=['a','b','c','d'])

#Explicit
print(s.loc[['a','c']])

#Implicit
print(s.iloc[[0,2]])

a    10
c    30
dtype: int64
a    10
c    30
dtype: int64

# **DataFrame**
it is a 2-dim table with rows and colunms, like an excel spredsheet.
<br>
# NB: each column in the dataframe is a Series

In [18]:
#Creating a DataFrame using a dictionary list

data = {
    'Year': [2020, 2020, 2021, 2021],
    'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'],
    'Revenue': [100, 150, 200, 250],
}

#without specifying and index (auto progressive number)
df = pd.DataFrame(data)
#specifying indexes
df2 = pd.DataFrame(data, index=['00', '01', '02', '03'])

print(df)
print()
print(df2)

   Year Quarter  Revenue
0  2020      Q1      100
1  2020      Q2      150
2  2021      Q1      200
3  2021      Q2      250

    Year Quarter  Revenue
00  2020      Q1      100
01  2020      Q2      150
02  2021      Q1      200
03  2021      Q2      250

**CSV file loading** pd.read_csv('file.csv')

In [ ]:
df = pd.read_csv('filename.csv')

#we can also specify, the separator, if we want to skip some rows, and how to handle NaN values
df = pd.read_csv('filename.csv',
                 sep=',',
                 skiprows=1,
                 na_values=['no_info', 'x'] #Â those values are setted as NaN
)

**JSON file Loading** pd.read_json('filename.json')

In [ ]:
df = pd.read_json('filejson.json')

#we can also specify orient, which specifies the json string format
df = pd.read_json('filejson.json', orient='records')

# Data Selection and Indexing

In [21]:
data = {
    'Year': [2020, 2020, 2021, 2021],
    'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'],
    'Revenue': [100, 150, 200, 250],
}

#COLUMN names
print(df.columns)

#indexes
print(df.index)

#values
print(df.values)

Index(['Year', 'Quarter', 'Revenue'], dtype='object')
RangeIndex(start=0, stop=4, step=1)
[[2020 'Q1' 100]
 [2020 'Q2' 150]
 [2021 'Q1' 200]
 [2021 'Q2' 250]]

In [34]:
#How to select ROWS and COLUMNS
data = {
    'Year': [2020, 2020, 2021, 2021],
    'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'],
    'Revenue': [100, 150, 200, 250],
}

df = pd.DataFrame(data, index=['00', '01', '02', '03'])

#select a column
print(df['Year'])
print(df[['Year', 'Revenue']]) # multiple columns

#Select rows, in this case we use .loc[] and .iloc[]
print(df.loc['00'])
print(df.loc[['00','02']])

print(df.iloc[0])
print(df.iloc[[0,3]])

00    2020
01    2020
02    2021
03    2021
Name: Year, dtype: int64
    Year  Revenue
00  2020      100
01  2020      150
02  2021      200
03  2021      250
Year       2020
Quarter      Q1
Revenue     100
Name: 00, dtype: object
    Year Quarter  Revenue
00  2020      Q1      100
02  2021      Q1      200
Year       2020
Quarter      Q1
Revenue     100
Name: 00, dtype: object
    Year Quarter  Revenue
00  2020      Q1      100
03  2021      Q2      250

In [36]:
#Boolean indexing
mask = df['Revenue'] > 150

print(df[mask])

    Year Quarter  Revenue
02  2021      Q1      200
03  2021      Q2      250

# Adding new colums
we can add new columns, we can simply assign values to a new columns name

In [44]:
#create a new column
df2['New Column'] = [10, 20, 30, 40]

Assign a value to a specific cell

In [49]:
print(df2)

df2.loc['00', 'New Column'] = 100
print()
print(df2)

df2.loc['00':'02', 'New Column'] = 200
print()
print(df2)

    Year Quarter  Revenue  New Column
00  2020      Q1      100         100
01  2020      Q2      150          20
02  2021      Q1      200          30
03  2021      Q2      250          40

    Year Quarter  Revenue  New Column
00  2020      Q1      100         100
01  2020      Q2      150          20
02  2021      Q1      200          30
03  2021      Q2      250          40

    Year Quarter  Revenue  New Column
00  2020      Q1      100         200
01  2020      Q2      150         200
02  2021      Q1      200         200
03  2021      Q2      250          40

# Unary Operations
are performed elemnt-wise like (+,-,/,*,**, abs(), sqrt(), exp(), etc..)

In [51]:
s = pd.Series([3, 1, 10], index=['b', 'a', 'c'])
s2 = pd.Series([1, 3, 30], index=['a','b', 'd'])

#since each unary op is performed element-wise, if an index is not present in both --> NaN
print(s+s2)

a    2.0
b    6.0
c    NaN
d    NaN
dtype: float64

# Detecting Missing Data
how to identify and handle missing values. <br>
**NB:** remember that null is different from NaN

In [55]:
#DETECTING MISSING VALUES
print(df.isnull()) # null values
print()

print(df.isna()) #NaN values

     Year  Quarter  Revenue  New Column
00  False    False    False       False
01  False    False    False       False
02  False    False    False       False
03  False    False    False        True

     Year  Quarter  Revenue  New Column
00  False    False    False       False
01  False    False    False       False
02  False    False    False       False
03  False    False    False        True

# Handling Missing Values
we can handle missing values data by either **filling with a value** or **dropping rows/columns**

In [63]:
import numpy as np
data = {
    'Year': [2020, 2020, 2021, 2021],
    'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'],
    'Revenue': [100, np.nan, 200, np.nan],
}

df_test = pd.DataFrame(data)

#Filling missing values
df_test.fillna(0, inplace=True)
print(df_test)
print()

df_test = pd.DataFrame(data)

#Drop wors with any missing value
df_test.dropna(inplace=True)
print(df_test)

   Year Quarter  Revenue
0  2020      Q1    100.0
1  2020      Q2      0.0
2  2021      Q1    200.0
3  2021      Q2      0.0

   Year Quarter  Revenue
0  2020      Q1    100.0
2  2021      Q1    200.0

# Combinig Data
we have several method to concatenate, merge, join, and append data

**Concatenation**: appends a specific Series or DataFrame along a specified axis

In [71]:
df1 = pd.DataFrame({
   'A' : ['A0','A1','A2'],
   'B' : ['B0', 'B1', 'B2'],
   'C' : ['C0', 'C1', 'C2']
}, index=[0,1,2])


df2 = pd.DataFrame({
   'A' : ['A3','A4','A5'],
   'B' : ['B3', 'B4', 'B5'],
   'C' : ['C3', 'C4', 'C5']
}, index=[3,4,5])

#default by axis 0
result = pd.concat((df1,df2))
print(result)
print()

result = pd.concat((df1,df2),axis=1)
print(result)

#NB: if an index or a column is missing in the dataset the concat automatically sets those values to NaN

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

     A    B    C    A    B    C
0   A0   B0   C0  NaN  NaN  NaN
1   A1   B1   C1  NaN  NaN  NaN
2   A2   B2   C2  NaN  NaN  NaN
3  NaN  NaN  NaN   A3   B3   C3
4  NaN  NaN  NaN   A4   B4   C4
5  NaN  NaN  NaN   A5   B5   C5

# Merge
similar to SQL joins, we can combine dataFrames based on one or more keys: inner, outer, left, right

In [79]:
left = pd.DataFrame({
    'key' : ['K0', 'K1', 'K2'],
    'A' : ['A0', 'A1', 'A2']
})

right = pd.DataFrame({
    'key' : ['K0', 'K2', 'K3'],
    'A' : ['B0', 'B2', 'B3']
})

#inner takes only values which are present in both
result = pd.merge(left, right, on='key', how='inner')
print(result)
print()

#outer takes all values, and sets NaN on index which are not present
result = pd.merge(left, right, on='key', how='outer')
print(result)
print()

#left takes all from the left dataframe, and from the right one only the keys which are present
result = pd.merge(left, right, on='key', how='left')
print(result)
print()

  key A_x A_y
0  K0  A0  B0
1  K2  A2  B2

  key  A_x  A_y
0  K0   A0   B0
1  K1   A1  NaN
2  K2   A2   B2
3  K3  NaN   B3

  key A_x  A_y
0  K0  A0   B0
1  K1  A1  NaN
2  K2  A2   B2

# Grouping
grouping allows you to group data by one or more columns and perform aggregation functions

In [89]:
df = pd.DataFrame({
    'k': ['a','b', 'a', 'b'],
    'c1': [2,10,3,15],
    'c2' : [4,20, 5,30]
})

#this is not a df, it is an obj
grouped_df = df.groupby('k')
#we can apply aggregate functions
print(grouped_df.agg('mean'))

#we can also group by multiple columns
df.groupby(['k','c1'])

     c1    c2
k
a   2.5   4.5
b  12.5  25.0

# Filtering
we can filter rows or a group of rows by expressing a condition

In [93]:
grouped_filtered = grouped_df.filter(lambda x: x['c1'].mean() > 5)

#in this case we have a DataFrame
print(grouped_filtered)

   k  c1  c2
1  b  10  20
3  b  15  30

# Pivoting
allows inspecting relationships within a dataset.


*   index: rows groupping
*   columns: new columns headers
*   values: data to fill the table
*   aggfunct: used if there are col/rows duplicates

In [102]:
data = pd.DataFrame({
    'Name' : ['Alice', 'Bob', 'Alice', 'Bob'],
    'Month' : ['Jan', 'Feb', 'Jan', 'Feb'],
    'Sales' : [200, 150, 210, 180]
    })

#ValueError: Index contains duplicate entries, cannot reshape
# pivot = data.pivot(index='Name', columns='Month', values='Sales') --> we have some duplicates

pivot = data.pivot_table(index='Name', columns='Month', values='Sales', aggfunc='sum')