<a href="https://colab.research.google.com/github/lucianoselimaj/MLDL_Labs/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple: immutable sequence of heterogeneos variables

In [ ]:
#Definition
t1 = ('turin','milan')
t2 = 'italy','france' #Optional parentheses
t3 = ('Rome', 2, 25.8)
t4 = ('London',)

x,y = t1 # unpacking

#swapping
a = 1
b = 2
a, b = b, a

#Concatenation
print(t1 + t2)

#Accessing elements
val = t1[0]
#t1[0] = 2 ---> Error, tuples are imutable

('turin', 'milan', 'italy', 'france')

List: Mutable sequence of heterogeneous elements, where each element is a reference to a python object

In [ ]:
#empty list
l = []
l2 = [1, 'str', 5.6, None]

#Adding elements and concatenationg list
l1 = [2,4,6]
l2 = [1,3,5]
l1.append(8) #Append an element to l1
l3 = l1 +l2 #Concatenation

#Counting the occurrences
l1.count(2)
#Extend a list
l1.extend(l2)
#Insert an element at position
l1.insert(0, 0)
#remove by position
l1.pop(0)
#Returns position of first occurrence of element
l1.index(6)

#Accessing elements
print(l1[0])
l1[0] = 'test' # in this case there isn't an error
print(l1[::1]) #start-stop-step, -1 reverse order

#Assigning multiple elements
l1 = [0,1,2,3,4]
l1[0:4] = ['a','b','c']

#Removing multiple elements
del l1[1:-1]

#check if ana element belong to a list
l1 = [0,1,2,3,4]
if 2 in l1:
  print('Already present')

#MIN,MAX, SUM
min_val = min(l1)
max_val = max(l1)
sum_val = sum(l1)

#Sorting
l2 = sorted(l1)
l3 = sorted(l1, reverse=True)

2
['test', 4, 6, 8, 1, 3, 5]
Already present

Set: Unordered collection of unique elements

In [ ]:
s0 = set() #empty set
s1 = {1,2,3}
s2 = {3,3,b,b}
s3 = set([3,3,1,2])
print(s2)

#Operations
union = s1 | s2
instersection = s1 & s2
difference = s1 - s2
"""
subset <=
proper subset <
superset >=
proper superset >
"""

#Add remove elements
s1 = {1,2,3}
s1.add('4')
s1.remove(3)

{1, 3}

Dictionary: collection of key-value pairs. It allows fast access of elements by key(which are unique)

In [ ]:
d1 = {'Name': 'Jhon', 'Age': 25}
d0 = {} #Empty dictionary

"""
The key must be hashable:
-int, float, bool, string, tuple
d1 = {('a','b') : 120, ('c','d','e') : 1000}
"""

#Element access
images = {10: 'img1', 20 : 'img2'}
t = images[10] #using the key
#t = image[8] #error
t = images.get(8, 'error, index not fuond')
print(t)

#Keys and indexes
keys = list(images.keys())
values = list(images.values())

#Adding/updating values
occur = {'Car' : 33, 'Truck' : 55}
occur['Car'] = 500 #update
occur['new'] = 100

#deleting a key
del occur['Truck']

#Check in
if 'Truck' in occur:
  print('truck is already present')

#Iterating keys and values
basket = {'Cola' : 0.99, 'Apples' : 1.5, 'Salt' : 0.4}
price = 0

for k, v in basket.items():
  price += v
  print(f'{k}: {price}')

error, index not fuond
Cola: 0.99
Apples: 2.49
Salt: 2.89

Shallow and Deep copy

In [ ]:
parent = [ [ 1, 2 ], ('a', 'b') ]

#Shallow, copy the parent object, keep references to children ---> parent.copy()
temperatures = {'Turin':[10,12,10], 'Milan':[15,16,16]}
temp2 = temperatures.copy()
temp2['Turin'].append(13) # Edit child node
temp2['Rome'] = [10, 11, 10] # Edit parent node
print(temperatures)
print(temp2)
print()
#Deep, recursively copies all children nodes of parent object
import copy
temperatures = {'Turin':[10,12,10], 'Milan':[15,16,16]}
temp2 = copy.deepcopy(temperatures)
temp2['Turin'].append(13) # Edit child node
temp2['Rome'] = [10, 11, 10] # Edit parent node
print(temperatures)
print(temp2)

{'Turin': [10, 12, 10, 13], 'Milan': [15, 16, 16]}
{'Turin': [10, 12, 10, 13], 'Milan': [15, 16, 16], 'Rome': [10, 11, 10]}

{'Turin': [10, 12, 10], 'Milan': [15, 16, 16]}
{'Turin': [10, 12, 10, 13], 'Milan': [15, 16, 16], 'Rome': [10, 11, 10]}

<pre>IF-ELSE structure: <br>
if condition:<br>
  //code<br>
elif condition:<br>
  //code<br>
else:<br>
  //code<br>

Iterationg for a fixed number of times

In [ ]:
#starting index included
for i in range(5,8):
  print(f"The value of i is {i}")

The value of i is 5
The value of i is 6
The value of i is 7

Enumerationg: Associate elementsn and their indexes

In [ ]:
my_list = ['a', 'b', 'c']
for i, element in enumerate(my_list):
  print(f"The value of my_list[{i}] is {element}")

Zip: iterationg multipe lists

In [ ]:
my_list1 = ['a', 'b', 'c']
my_list2 = ['A', 'B', 'C']

for el1, el2 in zip(my_list1, my_list2):
  print(f"El1: {el1}, el2: {el2}")

Break/Continue

In [ ]:
with open("./path") as f:
  for line in f:
    if line == 'skip':
      continue
    elif line == 'end':
      break
    print(line)

Functions

In [ ]:
def function_name(param1, param2):
  #//code
  return()

In [ ]:
def add_sub(x, y):
  #functions can return tuples
  return x+y, x-y

summ, diff = add_sub(5, 3)
print(f"Sum is {summ}, difference is {diff}.")

In [ ]:
def func(a, b, c='defC', d='defD'):
  print(f"{a}, {b}, {c}, {d}")

func(1, 2) # use default for c, d
func(1, 2, 'a') # use default for d, not for c
func(1, 2, d='b') # passing keyword argument
func(b=2, a=1, d='b') # keyword order does not matter
func(1, c='a') # Error: b not specified

MAP & FILTERS:


*   Filter: given a sequence of values, keep some and discard the rest:
```
# filter(filter_function, sequence)
```
*   Map: given a sequence of values, map each element to a new one:
```
# map(map_function, sequence)
```
NB: map and filter returns an iterator so we have to cast the rresult into a list

In [2]:
#Filter pattern
def is_positive(number):
  return number >= 0

numbers = [2,4,-1,7,0]
positive = list(filter(is_positive,numbers))
print(positive)

[2, 4, 7, 0]

In [4]:
#map
def square(numbers):
  return numbers**2

numbers = [2,4,-1,7,0]
squared = list(map(square,numbers))
print(squared)

[4, 16, 1, 49, 0]

Lambda functions

In [6]:
numbers = [1, -8, 5, -2, 5]

positives = list(filter(lambda x: x>=0, numbers))
squares = list(map(lambda x: x**2, numbers))
print(positives)
print()
print(squared)

[1, 5, 5]

[4, 16, 1, 49, 0]

In [8]:
#conditional lambda functions
numbers = [1, -1, 2, -2, 1]

sign = list(map(lambda x: '-' if x<=0 else '+',numbers))
print(sign)
print()

abs_values = list(map(lambda x: x if x>0 else -x, numbers))
print(abs_values)

['+', '-', '+', '-', '+']

[1, 1, 2, 2, 1]

Sort/Min/Max by dictionary key

In [10]:
records = [{'name': 'v1', 'val': 5}, {'name': 'v2', 'val': 1}, {'name': 'v3', 'val': 6}]

min_val = min(records, key=lambda r: r['val'])
sorted_records = sorted(records, key=lambda r: r['val'], reverse=True)

print(f'Min : {min_val}')
print()
print(f"Sorted :  {sorted_records}")

Min : {'name': 'v2', 'val': 1}

Sorted :  [{'name': 'v3', 'val': 6}, {'name': 'v1', 'val': 5}, {'name': 'v2', 'val': 1}]

List comprehensions: allows creating lists from other iterables:

```
#res_list = [f(el) for el in iterable]
```
where: <br>
f(el) --> is the transformation

In [15]:
dct = {'a': 10, 'b': 20, 'c': 30}

my_list = [el.upper() for el in dct.keys()]
print(my_list)


#with conditions
my_list2 = [el**2 for el in dct.values() if el >10]
print(my_list2)

['A', 'B', 'C']
[400, 900]

Dictionary comprehensions

In [16]:
keys = ['a','b','c']
values = [-1, 4, -2]

my_dict = {k:v for k,v in zip(keys,values)}
print(my_dict)

{'a': -1, 'b': 4, 'c': -2}

Set comprehensions

In [17]:
s = {v**2 for v in [1,2,3,4,5]}
print(s)

{1, 4, 9, 16, 25}

# **Classes**:
A class is a model that specifies a collection of:


*   Attributes (=Variables)
*   Methods (that interacts with variables)
*  Constructor (initializes the object)

An obj is an **instance** of a specific class

In [18]:
class Dog:
  #constructor, it runs automatically every time we create a new object from the class
  def __init__(self, name, age): #self is a reference to the current object
    self.name = name
    self.age = age


  def bark(self):
    print(f"{self.name} says: Woof!")

3

Private Attributes

In [20]:
class Triangle:
  def __init__(self, a, b, c):
    self.a, self.b, self.c = a,b,c
    self.__perimeter = a+b+c
  def get_perimeter(self):
    return self.__perimeter


tr = Triangle(2,4,3)
print(tr.get_perimeter())
print(tr.__perimeter)#error private attribute

9

AttributeError: 'Triangle' object has no attribute '__perimeter'

Exceptions: track errors during program execution

In [22]:
try:
  #code
  res = 'str'
  res += 2
except:
  print('error log')


#customize the exception
try:
  #code
  res = 2/0
except ZeroDivisionError:
  print('error log')
finally:
  print('program closed')

error log